
.button#divide,
.button#multiply,
.button#subtract,
.button#add,
.button#equal {
    background-color: #FF9E0B;
    /* Orange color for function buttons */
}

.button#AC,
.button#plus-minus,
.button#percent {
    background-color: #666666;
}

:root {
    --spacing: 6px;
}

.device {
    background-color: #525150;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
}

#calculator {
    min-width: 300px;
    min-height: 400px;
    width: 300px;
    height: 400px;
}

.display_screen {
    position: relative;
    height: 20%;
    /* Adjusted dynamically based on the calculator's height */
    color: white;
    text-align: right;
    border-top-left-radius: 10px;
    /* Adjust the radius as needed */
    border-top-right-radius: 10px;
    /* Adjust the radius as needed */
}

.display_screen .number {
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    /* Provides a little space from the edge */
    padding-bottom: 5px;
    /* Provides a little vertical space from the bottom */
}


#calc_body {
    height: 80%;
    /* Adjusted dynamically based on the calculator's height */
}

.row_button {
    height: 20%;
    /* Dynamically calculated based on remaining space after display */
    display: flex;
}

.button {
    width: 25%;
    padding: 2px;
    margin: 1px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: white;
    background-color: #818384;
    /* Orange color for function buttons */
}

.button#zero {
    width: calc(50% + var(--spacing));
    border-bottom-left-radius: 10px;
    /* Adjust the radius as needed */
}

.button#equal {
    border-bottom-right-radius: 10px;
    /* Adjust the radius as needed */
}

@keyframes click-animation {
    0% {
        background-color: initial;
    }

    50% {
        background-color: #ffffff;
        /* Adjust this color to how light you want the button to appear */
    }

    100% {
        background-color: initial;
    }
}

.button {
    animation-fill-mode: forwards;
}

.button.active {
    /* background-color: #ccc; */
    /* Light up when pressed */
    /* color: #333; */
    animation: click-animation 0.2s ease;
}


