#div_simple {
    display: flex !important;
    justify-content: center;
}

#simple_device {
    max-height: 200px;
    max-width: 100px;
    background-color: #525150;
}

#simple_display {
    width: 100%;
    height: 40%;
}

.simple_row {
    height: 30%;
    display: flex;
    width: 100%;
}

.simple_row > .button {
    width: 50%;
    background-color: #818384;

}

#simple_AC, #simple_RUN {
    background-color: #FF9E0B;
    /* Orange color for function buttons */
}