#div_simple {
    display: flex;
    font-size: 0.8em;
}

#simpleDevice {
    width: 150px;
    height: 200px;
    background-color: #525150;
}

#simple_display {
    width: 100%;
    height: 35%;
}

#simpleDevice>.row_button {
    height: 32.5%;
}

#simpleDevice>.row_button>.button {
    width: 50%;
    background-color: #818384;
}

#simpleDevice>.row_button>#simple_AC {
    background-color: #666666;
}

#simpleDevice>.row_button>#simple_RUN {
    background-color: #FF9E0B;
    /* Orange color for function buttons */
}

#simple_RUN {
    border-bottom-right-radius: 10px;
}

#simple_one {
    border-bottom-left-radius: 10px;
}