#rotatingSquare {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#authors_info {
    text-align: right;
    font-size: x-large;
}
